*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f5f5f5;
}
#home{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.home-layer{
    background-color :rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
}
.home-titel h1{
    font-size: 4.5rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 25px;
}
.home-titel p{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
}
.home-titel p::after{
    content: "";
    animation: typing 2s infinite alternate-reverse;

}
@keyframes typing {
    0%{
        content: "D|";
    }
    5%{
        content: "De|";
    }
    10%{
        content: "Des|";
    }
    15%{
        content: "Desi|";
    }
    20%{
        content: "Desig|";
    }
    25%{
        content: "Design|";
    }
    30%{
        content: "Designe|";
    }
    40%{
        content: "Designer|";
    }
    50%{
        content: "Designe|";
    }
    60%{
        content: "Design|";
    }
    65%{
        content: "Desig|";
    }
    70%{
        content: "Desi|";
    }
    75%{
        content: "Des|";
    }
    80%{
        content: "De|";
    }
    90%{
        content: "D|";
    }
    100%{
        content: "|";
    }
}


.scroll{
    width: 40px;
    height: 60px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 20px;
    z-index: 4444;
    animation: scrollMove 2s infinite ease-in;
}
.scroll::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 3px;
    height: 15px;
    background-color: #fff;
    transform: translateX(-50%);
}
@keyframes scrollMove {
    0%{
        bottom: 20px;
    }
    20%{
        bottom: 60px;
    }
    40%{
        bottom: 40px;
    }
    60%{
        bottom: 35px;
    }
    80%{
        bottom: 30px;
    }
    100%{
        bottom: 20px;
    }
}
.navbar{
    background-color: #000;
}
.navbar-brand{
    font-size: 26px;
}
.nav-link1::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 20%;
    width: 50%;
    height: 2px;
    background-color: #fff;
}
.nav-link2 a::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 20%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width .5s;
}
.nav-link2:hover a::after{
    width: 50%;
}
.dropdown-menu a{
    font-size: 14px;
    transition: all .5s;
    
}
.dropdown-menu a:hover{
    color: #0d6efd;
    background-color: #fff;
}
.about-section{
    background-color: #fff;
}
.titel{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.data{
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.content-titel{
    font-size: 2rem;
    color:#1e1e1e ;
    position: relative;
}
.content-titel::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 0%;
    width: 100px;
    height: 3px;
    background-color: #0078ff;
}
h3{
    font-size: 3rem;
    font-weight: bold;
}
.line::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 49%;
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}
.service-inner{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.icon-circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 8px rgb(0, 120, 255);
    transition: border 1s;
}
.service-inner:hover .icon-circle{
    border: solid 8px rgba(0, 120, 255, .2);
}

.icon-background{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition:  background-color 1s;
}
.service-inner:hover .icon-background{
    background-color:rgb(0, 120, 255);
}
.icon-circle i{
    font-size: 40px;
    transition: color 1s;
}
.service-inner:hover .icon-circle i{
    color: white;
}
#counters{
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.layer{
    background-color: rgba(0, 120, 255, .5);
}
.icon-border{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 8px #fff;
}
.background-icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.icon-border i{
    font-size: 2rem;
    color: #fff;
}
.counter p{
    font-size: 2rem;
    color: #fff;
    padding-top: 5px;
}
.counter span{
    color: #fff;
}
.work-content{
    background-color: #fff;
    padding-left: 10px;

}
.work-content h4{
    font-size: 18px;
}
.span1{
    color: #0078ff;
    font-size: .8rem;
}
.span2{
    color: #4e4e4e;
    font-size: .8rem;
}
.span3 i{
    font-size: 2rem;
   color: #fff;
   border: #0078ff solid 2px;
   border-radius: 50%;
   background-color: #0078ff;
}
.work-img{
    overflow: hidden;
}
.work-img img{
    transition: transform 1s;
   
}
.portfolio-item:hover .work-img img{
transform: scale(1.3,1.3);
}
#testmonail{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

}
.testmonail-layer{
    background-color: rgba(0, 120, 255,.7);
    width: 100%;
    height: 100%;

}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.inner-img-item1::after{
    content: "travel";
    position: absolute;
    top: 95%;
    left: 40%;
    width: 20%;
    height: 25px;
    text-align: center;
    color: #fff;
    background-color: #0078ff;
    border-radius: 4px;
}
.inner-img-item2::after{
    content: "WEB DESIGN";
    position: absolute;
    top: 95%;
    left: 35%;
    width: 30%;
    height: 25px;
    text-align: center;
    color: #fff;
    background-color: #0078ff;
    border-radius: 4px;
}
.item-footer{
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: .5rem 1rem;
}
.blog-fotter{
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.blog-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.fotter-titel{
transition: color .5s;
}
.footer-info:hover .fotter-titel{
    color: #0078ff;
}
#CONTACT{
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.contact-layer{
    background-color: rgba(0, 120, 255,.7);
    width: 100%;
}
.contact-form h4{
    font-size: 2rem;
    padding-bottom: 10px;
}
.contact-form h4::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100;
    height: 3px;
    background-color: #0078ff;
}
.contact-content h4{
    font-size: 2rem;
    padding-bottom: 10px;
}
.contact-content h4::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100;
    height: 3px;
    background-color: #0078ff;
}
.form-group input,textarea{
    border: solid .5px rgb(177, 174, 174);
    border-radius: 3px;
    padding-left: 10px;
}
.form-btn button{
    background: rgb(0, 120, 255);
    padding: 10px 24px;
    color: #fff;
    border-radius: 5rem;
    font-size: 1.2rem;
    border-style: none;
    border: solid 4px #fff;
    transition: background-color .4s ;
    transition: border .4s;
}
.form-btn button:hover{
    background-color:rgba(0, 120, 255,.8) ;
    border: solid 4px #cde1f8;
}
.contact-info i{
    color: #0078ff;
    margin-right: 10px;
}
.icon-layout{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px rgb(0, 120, 255);
    transition: border .5s;
}
.socail-icon:hover .icon-layout{
    border: solid 3px rgba(0, 120, 255, .2);
}
.icon-back{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition:  background-color .5s;
}
.socail-icon:hover .icon-back{
    background-color:rgb(0, 120, 255);
}
#l-section{
    color: #fff;
    padding: 25px 0;
    background-color: #0062d3;
}
